<h1><%= t "user_mailer.order" %></h1>
<p>
  <%= t "user_mailer.content" %><%= @user.id %><%= t "user_mailer.orders" %>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th><%= t "user_mailer.id"%></th>
          <th><%= t "user_mailer.name"%></th>
          <th><%= t "user_mailer.address"%></th>
          <th><%= t "user_mailer.phone"%></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= @user.id %></td>
          <td><%= @id.name %></td>
          <td><%= @user.address %></td>
          <td><%= @user.phone %></td>
        </tr>
        <%= t "user_mailer.details" %> <%= link_to t("user_mailer.order_to"), admin_orders_url %>
      </tbody>
    </table>
  </div>
</p>
