<tr>
  <% if @order.present? %>
    <% @order.each do  |order| %>
      <td><%= order.id %></td>
      <td>
        <span class="label label-warning">
          <%= order.status %>
        </span>
      </td>
      <td><%= order.phone %></td>
      <td><%= order.address %></td>
      <td><%= order.total_amount %></td>
      <td>
        <%= link_to "", history_path(order), class: "fa fa-info btn btn-danger" %>
      </td>
    <%end%>
  <%end%>
</tr>
