<tr>
  <td><%= product.id %></td>
  <td><%= product.name %></td>
  <td><%= image_tag(product.image, size: Settings.image.admin) %></td>
  <td><%= product.price %></td>
  <td><%= product.category.name %></td>
  <td><%= product.created_at.to_date %></td>
  <td><%= product.updated_at.to_date %></td>
  <td>
  <% if can? [:destroy, :update], product %>
    <%= link_to admin_product_path(product), method: :delete,
      class: "fa fa-trash-o btn btn-danger", data: {confirm: (t "users.index.sure") } do %>
    <% end %>
    <%= link_to edit_admin_product_path(product),
      class: "fa fa-pencil-square-o btn btn-danger" do %>
    <% end %>
  <% end %>
  </td>
</tr>
